#left  {
	float:	left;
	width: 	25%;
	height: 600px;
}
#right {
	float:	right;
	width: 	75%;
	height: 600px;
}

.inputText {
	font:		2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size:	80%;
	padding:	3px;
	border: 	2px solid blue;
}

select {
	font:		2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size:	80%;
	padding:	1.5px;
	border: 	2px solid blue;
}

.myButton {
	margin-left:47px;
	font:		2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size:	80%;
	padding:	14px;
	cursor:		pointer;
	background-color:	#40E0D0;
	border:				1px solid black;
	-moz-border-radius:	10px;
	border-radius:		15px;
}

.demoButton {
	margin-left:94px;
	font:		2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size:	80%;
	padding:	14px;
	cursor:		pointer;
	background-color:	#00FF00;
	border:				1px solid black;
	-moz-border-radius:	10px;
	border-radius:		15px;
}

.demoButton2 {
	margin-left:86px;
	font:		2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size:	80%;
	padding:	14px;
	cursor:		pointer;
	background-color:	#FF0000;
	border:				1px solid black;
	-moz-border-radius:	10px;
	border-radius:		15px;
}

